NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://kpwetqojfmliwyhrbamd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtwd2V0cW9qZm1saXd5aHJiYW1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NjYyMDAsImV4cCI6MjA5MDI0MjIwMH0.nBdmNLF-mpj_aRI8T329IcJ7is6VgUXGjC0ZjbyVY-U
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtwd2V0cW9qZm1saXd5aHJiYW1kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY2NjIwMCwiZXhwIjoyMDkwMjQyMjAwfQ.QI26xiMCRIiW-nCe1tGehx6F48SZy0qEqixCRjC8JsY
SUPABASE_ADMIN_EMAILS=arjuna0409@gmail.com